a{
    text-decoration: none;
}
.slider .carousel-item img{
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 600px
}
.slider .carousel-item:before{
    content: "";
    background: #000000;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
    opacity: 0.9;
}
.slider .carousel-item .carousel-caption{
    bottom: 150px;
}
.slider .carousel-item .carousel-caption .btn{
    font-size: 18px;
    font-weight: 600px;
}
.slider .carousel-item .carousel-caption .btn:hover{
    background-color: white;
    color: #dc3545;
    border: 1px solid white;
}